<div class="comment-container">
<h3>Add a new Comment</h3>
<div class="comment-form">
<%= form_with model: [@user, @post, @comment], url: user_post_comments_path do |form| %>
<div>
<%= form.label :text, required: true%>
<%= form.text_field :text, required: true %>
</div>
<%= form.submit "Submit" %>
</div>
</div>
<% end %>